body {
    font-family: 'Noto Sans', sans-serif;
    background-image: url('../static/images/ryan-loughlin-f1Kbt5NC8-I-unsplash.jpg');
    background-size: cover;
    margin-top: 5vh; 
    padding: 0 20vw;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px); 
    z-index: -99; /* ensure this background stays in the back */
}
/* HERO GROUP SECTION ----------------------------------------- */
.hero__group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* for spinning the gpt icon */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.gpt__icon{
    max-width: 20vw;
    max-height: 20vh;
    width: 100%;
    height: 100%;
    object-fit: contain; /* preserve aspect ratio */
    animation: spin 6s linear infinite;
}

.gpt__text{
    font-size: 2.2em;
    margin-bottom: 20px;
    font-weight: bold;
    color: #fff;
    text-shadow: 
    2px -2px 0 #000, 
}
/* CHAT GROUP SECTION ----------------------------------------- */
#chat__group{
    margin: 10px;
    overflow-y: auto;
    padding: 10px;
    box-sizing: border-box;
    height: 45vh;
    min-width: 70vw;
    border: 2px dashed #000; 
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5); /* alpha value for transparency */
}

/* scroll bar for chat__group */
    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }
    
    ::-webkit-scrollbar-track {
        background: #f5f5f5;
    }
    
    ::-webkit-scrollbar-thumb {
        background: #75726f;
        border-radius: 4px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #575552;
    }

.user__chat { 
    display: flex;
    background-color: #c9c6c6;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #000;
    border-radius: 5px;
    font-size: 1.25rem;
    font-style: italic;
}

.user__chat img {
    margin: 5px;
    width: 40px;
    height: 40px;
}

.bot__chat { 
    display: flex;
    background-color: #e5e5e5;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #000;
    border-radius: 5px;
    font-size: 1.25rem;
}

.bot__chat img{
    margin: 5px;
    width: 40px;
    height: 40px;
}

/* INPUT GROUP SECTION ----------------------------------------- */
#input__group {
    margin: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.input__form {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.input__form:focus {
    outline: none;
    border-color: dodgerblue;
}

.input__btn{
    padding: 10px 20px;
    background-color: tomato;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.input__btn:hover{
    background-color: rgb(190, 39, 12);
    transition: ease-in-out 0.15s;
}
/* FOOTER SECTION ----------------------------------------- */
