<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta author="Lucas C" description="ai chat bot">

    <title>AI Chat Bot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> <!-- linking stylesheet for flask -->
    <link rel="preconnect" href="https://fonts.googleapis.com"> <!-- import google font using provided API -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <!-- basic main section for chat gpt image and sm text-->
    <div class="hero__group"> 
        <img class="gpt__icon" src="/static/images/gpt_icon.png">
        <p class="gpt__text">chat gpt bot (placeholder explanation text)</p>
    </div>
    
    <!-- group to store all previous chats, append into group as q/a processes... -->
    <div id="chat__group"> 
        <div class="bot__chat">
            <img src="/static/images/gpt_icon_chat.png" alt="gpt chat icon">
            <p>Hi there! How can I help you today?</p>
        </div>
    </div>
    
    <!-- input form for posting questions to the open ai api -->
    <div id="input__group"> 
        <input type="text" class="input__form" name="question" placeholder="Ask the Ai..." required>
        <button class="input__btn">Send Question</button>
    </div>

    <!-- footer for sig and other stuff -->
    <div class="footer"> 
        <p>Lucas C | 2024</p>
    </div>

    <!-- use jquery to handle requests to openAi api -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script> 
    <script>
        // define input_btn click event action
        $(".input__btn").click(function() { 
            // get question from input form
            var question = $(".input__form").val();

            // add question to the chat group
            let question_html = '';
            question_html += `
            <div class="user__chat">
                <img src="/static/images/ask_icon.png" alt="ask icon">
                <p> ${question} </p>
            </div>
            `;
            $(".input__form").val(''); // clear input form for next question
            $("#chat__group").append(question_html) // append to chat group
            $("#chat__group").scrollTop($("#chat__group")[0].scrollHeight); // scroll down to the bottom of the chat group

            // call to server using ajax
            $.ajax({
                type: "POST", // type of call
                url: "/", // route of call
                contentType: "application/json", // specify sent content is json
                data: JSON.stringify({"query": question }), // data to be sent to server as JSON
                success: function(data) { // success in ajax call, create bot chat like we did with html by using the returned data
                    let answer_html = '';
                    answer_html += `
                    <div class="bot__chat">
                        <img src="/static/images/gpt_icon_chat.png" alt="bot icon">
                        <p> ${data.answer} </p>
                    </div>
                    `;
                    $("#chat__group").append(answer_html) // append to chat group
                    $("#chat__group").scrollTop($("#chat__group")[0].scrollHeight); // scroll down to the bottom of the chat group
                }
            })

        });
    </script>
    
</body>
</html>